In [9]:
import requests, json
from pprint import pprint
import pandas as pd

In [11]:
import requests
import json

url = 'https://fantasy.premierleague.com/api/fixtures/'
response = requests.get(url)
data = json.loads(response.text)

fixtures_list = []
for fixture in data:
    kickoff_time = fixture['kickoff_time']
    team_a = fixture['team_a']
    team_h = fixture['team_h']
    team_a_difficulty = fixture['team_a_difficulty']
    team_h_difficulty = fixture['team_h_difficulty']
    fixtures_list.append({'date': kickoff_time, 'a_team': team_a, 'h_team': team_h, 'team_a_difficulty': team_a_difficulty, 'team_h_difficulty': team_h_difficulty})

df_fdr = pd.DataFrame(fixtures_list)
df_fdr

,date,a_team,h_team,team_a_difficulty,team_h_difficulty
0,None,14,5,3,3
1,None,9,12,4,2
2,None,19,13,5,2
3,None,5,15,4,3
4,2022-08-05T19:00:00Z,1,7,2,4
...,...,...,...,...,...
375,2023-05-28T15:30:00Z,3,8,2,2
376,2023-05-28T15:30:00Z,18,11,2,3
377,2023-05-28T15:30:00Z,19,10,3,2
378,2023-05-28T15:30:00Z,9,14,4,2
379,2023-05-28T15:30:00Z,12,17,2,4

In [6]:
# get player data from 'elements' field
players = r['elements']

# show data for first player
pprint(players[0])

{'assists': 5,
 'bonus': 7,
 'bps': 409,
 'chance_of_playing_next_round': None,
 'chance_of_playing_this_round': None,
 'clean_sheets': 10,
 'clean_sheets_per_90': 0.43,
 'code': 84450,
 'corners_and_indirect_freekicks_order': None,
 'corners_and_indirect_freekicks_text': '',
 'cost_change_event': 0,
 'cost_change_event_fall': 0,
 'cost_change_start': -1,
 'cost_change_start_fall': 1,
 'creativity': '524.6',
 'creativity_rank': 23,
 'creativity_rank_type': 18,
 'direct_freekicks_order': 3,
 'direct_freekicks_text': '',
 'dreamteam_count': 1,
 'element_type': 3,
 'ep_next': '2.7',
 'ep_this': '3.2',
 'event_points': 1,
 'expected_assists': '3.08',
 'expected_assists_per_90': 0.13,
 'expected_goal_involvements': '5.28',
 'expected_goal_involvements_per_90': 0.22,
 'expected_goals': '2.20',
 'expected_goals_conceded': '23.13',
 'expected_goals_conceded_per_90': 0.99,
 'expected_goals_per_90': 0.09,
 'first_name': 'Granit',
 'form': '2.2',
 'form_rank': 160,
 'form_rank_type': 67,
 'goals_conceded': 23,
 'goals_conceded_per_90': 0.98,
 'goals_scored': 3,
 'ict_index': '131.7',
 'ict_index_rank': 34,
 'ict_index_rank_type': 22,
 'id': 3,
 'in_dreamteam': False,
 'influence': '449.2',
 'influence_rank': 58,
 'influence_rank_type': 22,
 'minutes': 2113,
 'news': '',
 'news_added': None,
 'now_cost': 49,
 'now_cost_rank': 233,
 'now_cost_rank_type': 132,
 'own_goals': 0,
 'penalties_missed': 0,
 'penalties_order': None,
 'penalties_saved': 0,
 'penalties_text': '',
 'photo': '84450.jpg',
 'points_per_game': '3.6',
 'points_per_game_rank': 91,
 'points_per_game_rank_type': 40,
 'red_cards': 0,
 'saves': 0,
 'saves_per_90': 0.0,
 'second_name': 'Xhaka',
 'selected_by_percent': '2.6',
 'selected_rank': 112,
 'selected_rank_type': 36,
 'special': False,
 'squad_number': None,
 'starts': 25,
 'starts_per_90': 1.06,
 'status': 'a',
 'team': 1,
 'team_code': 3,
 'threat': '342.0',
 'threat_rank': 66,
 'threat_rank_type': 43,
 'total_points': 94,
 'transfers_in': 846592,
 'transfers_in_event': 1959,
 'transfers_out': 748686,
 'transfers_out_event': 12748,
 'value_form': '0.4',
 'value_season': '19.2',
 'web_name': 'Xhaka',
 'yellow_cards': 3}